body{
    text-align: center;
    margin: 0;

}
#welcome{
    position: absolute;
    background: linear-gradient(red 0%, green 50%, rgb(0, 217, 255) 75%, rgb(148, 115, 26) 100%);
    width:100%;
    height:100%;
    padding-top: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 40px;
}
#name{
    font-size:50px;
    font-weight: 700;
    font-family: cursive;

}
h2{
    font-size: 30px;
    font-weight: 300;
}
#profile{
    border-radius: 30%;
    border: 2px solid darkblue;
    padding: 10px;
}
#bio{
    margin-top: 100px;
}